body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'century', sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(bg.jpg);
    background-size: cover;
    background-position: center;
}
.intro {
    width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
p {
    font-size: 40px;
    color: whitesmoke;
    margin: 10px 0px;
}
p2 {
    font-size: 20px;
    color: #ccc;
}
.typing {
    position: relative;
    margin-left: 10px;
    color: orange;
}
.typing::after {
    content: '';
    position: absolute;
    top: 6px;
    right: -5px;
    width: 1px;
    height: 80%;
    border-right: 2px solid white;
}
